boto3
python-dotenv
unittest-parametrize
weaviate-client
langchain==0.1.7
langchain-experimental==0.0.51
langchain-openai==0.0.6
langchain-community==0.0.20
openai==1.12.0
faiss-cpu
pandas
tabulate
tiktoken
requests
urllib3<2
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pypandoc
pyjwt
openpyxl