weaviate-client
langchain==0.1.7
langchain-text-splitters
tiktoken
langchain-experimental==0.0.51
langchain-openai==0.0.6
langchain-community==0.0.20
openai==1.12.0
faiss-cpu
pandas
pyarrow
tabulate
tiktoken
python-dotenv
pydantic
requests
urllib3<2
boto3
requests
PyPDF2
tenacity
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pypandoc
pyjwt
openpyxl
matplotlib
seaborn
fpdf2