weaviate-client
langchain==0.1.20
langchain-experimental
langchain-openai
langchain-community
openai
faiss-cpu
pandas
pyarrow
tabulate
tiktoken
python-dotenv
pydantic
requests
urllib3<2
boto3
requests
PyPDF2
tenacity
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pypandoc
pyjwt
openpyxl
matplotlib
seaborn
fpdf2