weaviate-client
langchain==0.0.327
langchain-experimental==0.0.36
pandas
tabulate
openai==0.28.1
tiktoken
python-dotenv
pydantic
requests
urllib3<2
boto3
requests
PyPDF2
tenacity
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pypandoc